<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css"
            rel="stylesheet"
    />
    <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
<div class="background">
    <div class="container">
        <div class="py-1 text-center">
            <h2>비밀번호 찾기</h2>
        </div>
            <div>
                <label>아이디</label>
                <input type="text" id="username" class="form-control" style="margin-bottom: 10px"/>
            </div>

            <div>
                <label>이름</label>
                <input type="text" id="name" class="form-control" style="margin-bottom: 10px"/>
            </div>

            <div>
                <label>이메일</label>
                <input type="text" id="email" class="form-control" style="margin-bottom: 10px"/>
            </div>

            <div>
                <button class="w-100 btn btn-primary btn-lg" onclick="findPassword()" style="margin-bottom: 10px">비밀번호 찾기</button>
            </div>

        <div>
            <a href="/" class="w-100 btn btn-primary btn-lg" role="button">돌아가기</a>
        </div>
    </div>
</div>
<script>
    function findPassword() {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var name = document.getElementById("name").value;

        fetch("/findPassword", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: username,
                email: email,
                name: name
            })
        })
        .then(res => {
            if(res.status === 400){
                alert("입력하신 정보가 올바르지 않습니다.");
            }else if(res.status === 500){
                alert("잠시 후 다시 시도해주세요.");
            }else if(res.status === 200){
                window.location.href="createFindPasswordSuccessView"
            }
        });
    }
</script>
</body>
</html>
