<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css"
            rel="stylesheet"
    />
    <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
<div class="background">
    <div class="container">
        <div class="py-1 text-center">
            <h2>아이디 찾기</h2>
        </div>
        <form action="/member/id" method="get" onsubmit="return validateForm()">
            <div>
                <label>이름</label>
                <input type="text" id="name" class="form-control" style="margin-bottom: 10px"/>
                <p style="color:red" id="nameError"></p>
            </div>

            <div>
                <label>이메일</label>
                <input type="text" id="email" class="form-control" style="margin-bottom: 10px"/>
                <p style="color:red" id="emailError"></p>
            </div>

            <div>
                <button class="w-50 btn btn-primary btn-lg" type="submit" style="height:40px; font-size:16px ;margin-bottom: 10px">인증번호 보내기</button>
            </div>
        </form>
        <form>
            <div>
                <label>인증번호</label>
                <input type="text" id="asd" class="form-control" style="margin-bottom: 10px"/>
                <p style="color:red" id="asd1"></p>
            </div>

            <div>
                <button class="w-50 btn btn-primary btn-lg" type="submit" style="height:40px; font-size:16px">인증번호 확인</button>
            </div>
        </form>

    </div>
</div>
<!-- /container -->
<script>

function validateForm(){

    var result = true;
    var certification_Number;

    // 이름 유효성 검사
    var nameInput = document.getElementById('name').value;
    var nameInputError = document.getElementById('nameError');
    if (nameInput === '') {
        nameInputError.textContent = '이름을 입력해주세요.';
        result = false;
    }
    else{
        nameInputError.textContent = '';
    }

    // 이메일 유효성 검사
    var emailInput = document.getElementById('email').value;
    var emailInputError = document.getElementById('emailError');
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (emailInput === '') {
        emailInputError.textContent = '이메일을 입력해주세요.';
        result = false;
    }
    else if (!emailRegex.test(emailInput)) {
        emailInputError.textContent = '올바른 이메일 형식이 아닙니다.';
        result = false;
    }
    else{
        emailInputError.textContent = '';
    }

    // 모든 유효성 검사를 통과하면 true 반환하여 폼 제출 허용
    return result;
}



</script>
</body>
</html>
