<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css"
            rel="stylesheet"
    />
    <style>
      .background {
        width: 100vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 1200px;
      }


    </style>
</head>
<body>

<div class="background">
    <div class="container">
        <div align="right" style="margin-top: 20px">
            <h5 style="display:inline; vertical-align: middle; font-weight : bold;" th:text="|안녕하세요 ${name}님!!|"></h5>
            <a href="/createUpdateMemberView" class="btn btn-secondary" role="button" >마이페이지</a>
            <button type="button" class="btn btn-secondary" onclick=logout() >로그아웃</button>
        </div>

        <div>
            <a th:href="|/move/previous/${day}|" class="btn btn-secondary" role="button" style="display:inline;">이전</a>
            <input type="text" id="datePicker" class="form-control" th:value="${day}" style="width:270px; display:inline;">
            <a th:href="|/move/next/${day}|" class="btn btn-secondary" role="button" style="display:inline;">다음</a>
        </div>

        <h2 style="margin-top: 30px; font-weight : bold;" th:text="|${day} 일정 (최대 5개)|"></h2>
        <th:block th:each="schedule : ${schedules}">
            <div style="margin-top: 20px">
                <div style="display:inline;">
                    <h4 th:if="${schedule.status == true}" th:text="|😸 ${schedule.content}|" style="display:inline; vertical-align: middle;" ></h4>
                    <h4 th:if="${schedule.status == false}" th:text="|😹 ${schedule.content}|" style="display:inline; vertical-align: middle;" ></h4>
                </div>
                <div style="margin-top: 10px">
                    <button th:if="${past == 'false'}" class="change-btn" th:attr="id=${schedule.id}" style="border-radius: 15px; font-weight : bold; background-color: #f5ebe0">
                        <p th:if="${schedule.status == true}" style="display:inline;" >미완</p>
                        <p th:if="${schedule.status == false}" style="display:inline;">완료</p>
                    </button>
                    <button th:if="${past == 'false'}" class="update-btn" th:attr="id=${schedule.id}, content=${schedule.content}" style="border-radius: 15px; font-weight : bold; background-color: #f5ebe0">수정</button>
                    <button th:if="${past == 'false'}" class="delete-btn" th:attr="id=${schedule.id}" style="border-radius: 15px; font-weight : bold; background-color: #f5ebe0">삭제</button>
                </div>
            </div>
        </th:block>
        <button th:if="${past == 'false'}" id="openAddModal" style="font-weight : bold; background: #e3d5ca; border-radius: 15px; margin-top: 30px" >추가하기</button>

        <br>

        <div style="margin-top: 20px">
            <label>검색할 일정을 입력해주세요. (최소 2자, 최대 30자 입니다.)</label><br>
            <input type="search" id="findContent" maxlength="30" minlength="2" style="vertical-align: middle;">
            <button type="button" id="openFindModal" class="btn btn-secondary" style="vertical-align: middle;">검색</button>
        </div>

        <!--Modal-->

        <div id="addModal" class="modal">
            <div class="modal-content">
                <label>일정을 입력해주세요. (최소 2자, 최대 30자 입니다.)</label>
                <input type="text" id="addContent" style="margin-top: 10px" class="form-control" maxlength="30"
                       minlength="2">
                <div align="right" style="margin-top: 20px;">
                    <button type="button" class="btn btn-secondary" onclick=add()>추가</button>
                    <button type="button" class="btn btn-secondary" id="close-add-btn">닫기</button>
                </div>
            </div>
        </div>

        <div id="updateModal" class="modal">
            <div class="modal-content">
                <label>일정을 입력해주세요. (최소 2자, 최대 30자 입니다.)</label>
                <input type="text" id="updateContent" style="margin-top: 10px" class="form-control" maxlength="30"
                       minlength="2">
                <div align="right" style="margin-top: 20px;">
                    <button type="button" class="btn btn-secondary" onclick=update()>수정</button>
                    <button type="button" class="btn btn-secondary" id="close-update-btn">닫기</button>
                </div>
            </div>
        </div>



        <div id="findModal" class="modal">
            <div class="modal-content">
                <h3 id="subtitle"></h3>
                <div style="overflow:auto; height: 300px;" id="modalData"></div>
                <button style="display: none" type="button" class="btn btn-secondary" id="more-find-btn" onclick="more()">더보기</button>
                <div align="right" style="margin-top: 20px;">
                    <button type="button" class="btn btn-secondary" id="close-find-btn">닫기</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $('#datePicker')
        .datepicker({
            changeYear: true,
            changeMonth: true,
            showOtherMonths: true,
            showButtonPanel: true,
            dateFormat: 'yy-mm-dd',
            minDate: '2000-01-01',
            maxDate: '2099-12-31',
            yearRange: '2000:2099',
            closeText: '닫기',
            currentText: '오늘',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년',
            onSelect: function(dateText, inst) {
                var day = $(this).val();
                var year = day.substr(0, 4);
                var month = day.substr(5, 2);
                var date = day.substr(8, 2);
                location.replace(`/schedule/${year}/${month}/${date}`)
            }
        });

    function logout() {
        fetch("/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
        })
        .then(res => {
            if(res.status === 200){
               window.location.href=window.location.href
            }else{
               alert("잠시 후 다시 시도해주세요.");
            }
        });
   }

   <!--일정을 추가하는 함수-->
   function add() {
       <!--일정을 추가할 때 필요한 날짜와 내용을 가져온다.-->
       var date = document.getElementById("datePicker").value;
       var content = document.getElementById("addContent").value;
       <!--POST 요청으로 전송-->
       fetch("/schedule", {
           method: "POST",
           headers: {
               "Content-Type": "application/json"
           },
           body: JSON.stringify({
                date: date,
                content: content
            })
       })
       .then(res => {
           if(res.status === 400){
           console.log(res);
               alert("입력하신 데이터가 올바르지 않습니다.");
           }else if(res.status === 500){
               alert("잠시 후 다시 시도해주세요.");
           }else if(res.status === 200){
               <!--일정 추가 성공 시 새로고침-->
               window.location.href=window.location.href
           }
       });
   }

   <!--일정을 수정하는 함수-->
   function update() {
       <!--일정을 수정할 때 필요한 아이디와 내용을 가져온다.-->
       var id = document.getElementById("updateContent").getAttribute("content_id");
       var content = document.getElementById("updateContent").value;
       <!--FETCH 요청으로 전송-->
       fetch("/schedule", {
           method: "PATCH",
           headers: {
               "Content-Type": "application/json"
           },
           body: JSON.stringify({
                id: id,
                content: content
            })
       })
       .then(res => {
           if(res.status === 400){
               alert("입력하신 데이터가 올바르지 않습니다.");
           }else if(res.status === 500){
               alert("잠시 후 다시 시도해주세요.");
           }else if(res.status === 200){
               <!--일정 수정 성공 시 새로고침-->
               window.location.href=window.location.href
           }
       });
   }

   <!--일정을 추가 검색하는 함수-->
   function more() {
       <!--일정을 추가 검색할 때 필요한 내용과 버튼, 인덱스를 가져온다.-->
       var content = document.getElementById("findContent").value;
       var btn = document.getElementById("more-find-btn");
       <!--GET 요청으로 전송-->
       fetch(`/search_schedule/${content}/${btn.getAttribute("index")}`, {
           method: "GET"
       })
       .then(res => {
           if(res.status === 400){
               alert("입력하신 데이터가 올바르지 않습니다.");
           }else if(res.status === 500){
               alert("잠시 후 다시 시도해주세요.");
           }else if(res.status === 200){
               <!--Promise 반환-->
               return res.json();
           }
       })
       .then(data => {
           <!--기존 테이블 가져오기-->
           const table = document.getElementById('modalData').querySelector('table');
           <!--테이블에 행 추가하기-->
           data.lst.forEach(item => {
               const row = table.insertRow();
               Object.values(item).forEach(value => {
                   const cell = row.insertCell();
                   cell.textContent = value;
                   cell.style.width = '33.33%'
               });
           });

           <!--다음 데이터가 존재하면 '더보기' 버튼 보이게 설정하고 다음 인덱스도 설정-->
           if(data.hasNext){
               btn.style.display = "block";
               btn.setAttribute("index", data.nextIndex);
           }
           <!--다음 데이터가 존재하지 않으면 '더보기' 버튼 안보이게 설정-->
           else{
               btn.style.display = "none";
           }
       });
   }

document.addEventListener("DOMContentLoaded", function() {

  var changeButtons = document.querySelectorAll(".change-btn");

  changeButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      var id = button.getAttribute("id");
      fetch("/schedule/changeStatus", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: id
        })
      })
      .then(res => {
        if(res.status === 200){
          window.location.href=window.location.href
        }else{
          alert("잠시 후 다시 시도해주세요.");
        }
      });
    });
  });

  var deleteButtons = document.querySelectorAll(".delete-btn");

  deleteButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      var id = button.getAttribute("id");
      var date = document.getElementById("datePicker").value;
      fetch("/schedule", {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: id,
          date: date
        })
      })
      .then(res => {
        if(res.status === 200){
          window.location.href=window.location.href
        }else{
          alert("잠시 후 다시 시도해주세요.");
        }
      });
    });
  });

  var updateButtons = document.querySelectorAll(".update-btn");

  updateButtons.forEach(function(button) {
    button.addEventListener("click", function() {
      var content = button.getAttribute("content");
      var id = button.getAttribute("id");
      var updateContent = document.getElementById("updateContent");
      updateModal.style.display = "block";
      updateContent.value = content;
      updateContent.setAttribute("content_id", id);
    });
  });
});

    // 일정 추가 Modal
    var openAddModalBtn = document.getElementById("openAddModal");
    var closeAddModalBtn = document.getElementById("close-add-btn");
    var addModal = document.getElementById("addModal");
    var addContent = document.getElementById("addContent");

    if(openAddModalBtn !== null){
        openAddModalBtn.onclick = function() {
            addModal.style.display = "block";
        }
    }

    closeAddModalBtn.onclick = function() {
        addModal.style.display = "none";
        addContent.value = "";
    }

    // 일정 수정 Modal
    var closeUpdateModalBtn = document.getElementById("close-update-btn");
    var updateModal = document.getElementById("updateModal");

    closeUpdateModalBtn.onclick = function() {
        updateModal.style.display = "none";
    }

    // 일정 검색 Modal
    var openFindModalBtn = document.getElementById("openFindModal");
    var closeFindModalBtn = document.getElementById("close-find-btn");
    var findModal = document.getElementById("findModal");

    openFindModalBtn.onclick = function() {
       var content = document.getElementById("findContent").value;
       fetch(`/search_schedule/${content}/0`, {
           method: "GET"
       })
       .then(res => {
           if(res.status === 400){
               alert("입력하신 데이터가 올바르지 않습니다.");
           }else if(res.status === 500){
               alert("잠시 후 다시 시도해주세요.");
           }else if(res.status === 200){
               return res.json();
           }
       })
       .then(data => {
           document.getElementById("subtitle").textContent = `'${content}'에 대한 검색 결과입니다.`;
           var btn = document.getElementById("more-find-btn");

           const table = document.createElement('table');
           table.style.width = '100%';
           const headerRow = table.insertRow();
           const headers = ['일정', '내용', '완료']; // 임의의 헤더 추가
           headers.forEach(headerText => {
               const th = document.createElement('th');
               th.textContent = headerText;
               th.style.width = '33.33%'
               headerRow.appendChild(th);
           });

           data.lst.forEach(item => {
               const row = table.insertRow();
               Object.values(item).forEach(value => {
                   const cell = row.insertCell();
                   cell.textContent = value;
                   cell.style.width = '33.33%'
               });
           });

           if(data.hasNext){
               btn.style.display = "block";
               btn.setAttribute("index", data.nextIndex);
           }
           else{
                btn.style.display = "none";
           }

           const modalDataContainer = document.getElementById('modalData');
           modalDataContainer.innerHTML = ''; // 모달 내용 초기화
           modalDataContainer.appendChild(table);
           findModal.style.display = "block";
       });
    }

    closeFindModalBtn.onclick = function() {
        findModal.style.display = "none";
    }

    // 공통
    window.onclick = function(event) {
        if (event.target == addModal) {
            addModal.style.display = "none";
            addContent.value = "";
        }
        if (event.target == updateModal) {
            updateModal.style.display = "none";
        }
        if (event.target == findModal) {
            findModal.style.display = "none";
        }
    }
</script>
</body>
</html>