<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css"
            rel="stylesheet"
    />
    <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
    <div align="right" style="margin-top: 20px; margin-right: 20px" >
        <button class="btn btn-primary btn-lg" onclick=logout() >로그아웃</button>
        <a href="/myPage" class="btn btn-primary btn-lg" role="button">마이페이지</a>
    </div>
    <script>
    function logout() {
        fetch("/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
        })
        .then(res => {
            window.location.href=window.location.href
        });
    }
</script>
</body>
</html>