<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css"
            rel="stylesheet"
    />
    <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
    <div align="right" style="margin-top: 20px; margin-right: 20px" >
        <h5 style="display:inline; vertical-align: middle; font-weight : bold;" th:text="|안녕하세요 ${name}님!!|"></h5>
        <a href="/createUpdateView" class="btn" style="background-color: #adb5bd;" role="button">마이페이지</a>
        <button class="btn" onclick=logout() style="background-color: #adb5bd;" >로그아웃</button>
    </div>
    <script>
    function logout() {
        fetch("/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
        })
        .then(res => {
            window.location.href=window.location.href
        });
    }
</script>
</body>
</html>