<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css"
            rel="stylesheet"
    />
    <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
<div class="background">
    <div class="container">
        <div class="py-1 text-center">
            <h2>회원정보</h2>
        </div>
        <div>
            <label>아이디</label>
            <input type="text" id="username" th:value="${member.username}" class="form-control" style="margin-bottom: 10px" readonly="true"/>
        </div>

        <div>
            <label>권한</label>
            <input type="text" id="role" th:value="${member.role}" class="form-control" style="margin-bottom: 10px" readonly="true"/>
        </div>

        <div>
            <label>이름</label>
            <input type="text" th:value="${member.name}" class="form-control" style="margin-bottom: 10px" readonly="true"/>
        </div>

        <div>
            <label>주소</label>
            <input type="text" id="address" th:value="${member.address}"class="form-control" style="margin-bottom: 10px"/>
        </div>

        <div>
            <label>이메일</label>
            <input type="text" th:value="${member.email}" class="form-control" style="margin-bottom: 10px" readonly="true"/>
        </div>

        <div>
            <button class="w-100 btn btn-primary btn-lg" onclick="updateMember()" style="margin-bottom: 10px">수정하기</button>
        </div>

        <div th:if="${isBasic}">
            <a href="/createUpdatePasswordView" class="w-100 btn btn-primary btn-lg" role="button" style="margin-bottom: 10px">비밀번호 변경하기</a>
        </div>

        <div>
            <button class="w-100 btn btn-primary btn-lg" onclick="deleteMember()" style="margin-bottom: 10px">탈퇴하기</button>
        </div>

        <div>
            <a href="/schedule" class="w-100 btn btn-primary btn-lg" role="button">돌아가기</a>
        </div>
    </div>
</div>
<script>
    function updateMember() {
        var address = document.getElementById("address").value;

        fetch("/member", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                address: address
            })
        })
        .then(res => {
            if(res.status === 400){
                alert("입력하신 정보가 올바르지 않습니다.");
            }else if(res.status === 500){
                alert("잠시 후 다시 시도해주세요.");
            }else if(res.status === 200){
                window.location.href="createUpdateMemberSuccessView"
            }
        });
    }

    function deleteMember() {
        var username = document.getElementById("username").value;
        fetch("/member", {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                username: 'username'
            })
        })
        .then(res => {
            if(res.status === 400){
                alert("입력하신 정보가 올바르지 않습니다.");
            }else if(res.status === 500){
                alert("잠시 후 다시 시도해주세요.");
            }else if(res.status === 200){
                fetch("/logout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                    },
                });
                window.location.href="createDeleteMemberSuccessView"
            }
        });
    }
</script>
</body>
</html>