<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link
          th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css"
          rel="stylesheet"
  />
  <style>
      .background {
        width: 100vw;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container {
        max-width: 400px;
      }
    </style>
</head>
<body>
<div class="background">
  <div class="container">
    <div class="py-1 text-center">
      <h2>회원정보</h2>
    </div>

    <div>
      <label>비밀번호 (8자 이상 12자 이하여야합니다.)</label>
      <input type="password" id="password" class="form-control" style="margin-bottom: 10px"/>
    </div>

    <div>
      <label>비밀번호 확인 (8자 이상 12자 이하여야합니다.)</label>
      <input type="password" id="passwordCheck" class="form-control" style="margin-bottom: 10px"/>
    </div>

    <div>
      <button class="w-100 btn btn-primary btn-lg" onclick="updatePassword()" style="margin-bottom: 10px">수정하기</button>
    </div>

    <div>
      <a href="/createUpdateMemberView" class="w-100 btn btn-primary btn-lg" role="button">돌아가기</a>
    </div>
  </div>
</div>
<script>
    function updatePassword() {
        var password = document.getElementById("password").value;
        var passwordCheck = document.getElementById("passwordCheck").value;

        fetch("/member/password", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                password: password,
                passwordCheck: passwordCheck
            })
        })
        .then(res => {
            if(res.status === 400){
                alert("입력하신 정보가 올바르지 않습니다.");
            }else if(res.status === 500){
                alert("잠시 후 다시 시도해주세요.");
            }else if(res.status === 200){
                window.location.href="createUpdatePasswordSuccessView"
            }
        });
    }
</script>
</body>
</html>